<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kristo Kukk</title>
</head>
<body>
	<img src="images/test.jpg" alt="Kursuse bänner">
	<h1>Veebileht,</h1>
	<p>mis sisaldab tõsiseltvöetavat <a href="https://taflheim.io/">sisu</a>!</p>
	<hr>
	<ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/Eestifilm/inimesed">Eesti filmiinimesed</a></li>
		<li><a href="/Eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
		<li><a href="/Eestifilm/filmid">Eesti filmid</a></li>
	</ul>
</body>

</html>
