<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kristo Kukk</title>
</head>
<body>
	<img src="images/test.jpg" alt="Kursuse bänner">
	<h1>Veebileht,</h1>
	<p>mis sisaldab tõsiseltvöetavat <a href="https://taflheim.io/">sisu</a>!</p>
	<hr>
	<ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Vanasõnad</a></li>
	<li><a href="/regvisit">Registreeri enda külastus!</a></li>
	<li><a href="/visitlog">Registreeritud kasutajad</a></li>
	<li><a href="/Eestifilm">EESTI FILM</a></li>
	<li><a href="/galleryphotoupload">Galeriisse fotode üleslaadimine</a></li>
	</ul>
	<img src="/gallery/orig/<%= photoName %>" alt="Hiljutiseim pilt">
</body>

</html>
