<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kristo Kukk</title>
</head>
<body>
	<img src="images/test.jpg" alt="Kursuse bänner">
	<h1>Veebileht,</h1>
	<p>mis sisaldab tõsiseltvöetavat <a href="https://taflheim.io/">sisu</a>!</p>
	<hr>
	<ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>Pane end külastajana kirja</h2>
	<form method="POST" action="/salvestatud">
		<label for="firstNameInput">Eesnimi</label>
		<input id="firstNameInput" type="text" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
		<label for="lastNameInput">Perekonnanimi</label>
		<input id="lastNameInput" type="text" name="lastNameInput" placeholder="Kirjuta siia oma perenimi...">
		<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
	</form>
</body>

</html>
