<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kristo Kukk</title>
</head>
<body>
	<img src="images/test.jpg" alt="Kursuse bänner">
	<h1>Veebileht,</h1>
	<p>mis sisaldab tõsiseltvöetavat <a href="https://taflheim.io/">sisu</a>!</p>
	<hr>
	<ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>AJAINFO</h2>
	<ul>
		<li>Nädalapäev: <%= weekDayNow %></li>
		<li>Kuupäev: <%= dateNow %></li>
	</ul>
</body>

</html>
